@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

li {
  text-decoration: none;
  list-style-type: none; }

a {
  text-decoration: none;
  color: white; }
  a:after {
    text-decoration: none; }
  a:before {
    text-decoration: none; }

/*--------MIXIN FLEX----------*/
/*--------Keyframes--------*/
@keyframes animacionRedes {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes animacionHeader {
  0% {
    background-position: 50% 100%;
    border-bottom-left-radius: 10%; }
  50% {
    background-position: 100% 0%;
    border-bottom-left-radius: 10%; }
  100% {
    background-position: 50% 100%;
    border-bottom-left-radius: 10%; } }

/*--------MIXIN FLEX----------*/
/*--------Keyframes--------*/
@keyframes animacionRedes {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes animacionHeader {
  0% {
    background-position: 50% 100%;
    border-bottom-left-radius: 10%; }
  50% {
    background-position: 100% 0%;
    border-bottom-left-radius: 10%; }
  100% {
    background-position: 50% 100%;
    border-bottom-left-radius: 10%; } }

/*--------------VISTA MOBILE------------*/
@media screen and (max-width: 425px) {
  body {
    display: grid;
    grid-template-areas: "cabecera" "navBar" "main " "footer "; }
    body .cabecera {
      grid-area: cabecera;
      border-bottom: 6px solid #131313;
      border-bottom-left-radius: 11%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      body .cabecera .info-contacto {
        background: linear-gradient(to right, black, #515151, black);
        width: 100%;
        height: 3em;
        animation: animacionRedes 5s infinite;
        background-size: 200%; }
        body .cabecera .info-contacto .direccion {
          display: none; }
        body .cabecera .info-contacto .iconos-redes {
          height: 100%; }
          body .cabecera .info-contacto .iconos-redes ul {
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center; }
      body .cabecera .nombreLogo {
        width: 100%;
        height: 100%;
        background-size: 300%;
        animation: animacionHeader 5s infinite;
        background-image: linear-gradient(40deg, #040303, #461111, #A13333, #B3541E);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 10px; }
        body .cabecera .nombreLogo img {
          height: 8rem;
          background-color: #9b9992;
          border-radius: 50%;
          box-shadow: 1px 2px 20px black; }
        body .cabecera .nombreLogo h1 {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start; }
          body .cabecera .nombreLogo h1 span {
            color: #f9f9e7;
            font-family: "Black Ops One", cursive; }
    body .navBar {
      grid-area: navBar;
      height: 4rem;
      background: linear-gradient(to right, black, #5d5d5d, black);
      background-size: 200%;
      animation: animacionRedes 5s infinite; }
      body .navBar .lista {
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center; }
        body .navBar .lista li {
          font-family: "Alumni Sans Inline One";
          font-size: x-small;
          font-size: 20px;
          letter-spacing: 1px;
          border-bottom: 2px solid white; }
          body .navBar .lista li a {
            color: #e5cc09; }
    body .main {
      grid-area: main;
      height: 50vh; }
      body .main .principal {
        height: 100%;
        background-image: url(../images/seccionInicio.jpg);
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center; }
        body .main .principal .inicio {
          height: 100%;
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 50px;
          background-color: rgba(65, 65, 65, 0.702); }
          body .main .principal .inicio p {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 25px;
            color: white;
            text-align: center;
            width: 80%;
            z-index: 1;
            padding: 10px;
            border-radius: 20px; }
          body .main .principal .inicio a {
            border: 2px solid black;
            border-radius: 20px;
            font-size: 18px;
            background-color: #3d3d3d;
            color: yellow;
            padding: 10px;
            width: 6rem;
            text-align: center;
            box-shadow: 2px 5px 20px black; }
    body .footer {
      grid-area: footer;
      height: 300px; } }

@media screen and (min-width: 425px) {
  body {
    display: grid;
    grid-template-areas: "cabecera cabecera" "navBar navBar " "main main" "footer footer"; }
    body .cabecera {
      grid-area: cabecera; }
    body .navBar {
      grid-area: navBar; }
    body .main {
      grid-area: main; }
    body .footer {
      grid-area: footer; } }

@media screen and (min-width: 768px) {
  body {
    display: grid;
    grid-template-areas: "cabecera cabecera cabecera " "navBar navBar navBar " "main main main" "footer footer footer"; }
    body .main {
      grid-area: main; }
    body .navBar {
      grid-area: navBar; }
    body .main {
      grid-area: main; }
    body .footer {
      grid-area: footer; } }
