@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

li {
  text-decoration: none;
  list-style-type: none; }

a {
  text-decoration: none;
  color: white; }
  a:after {
    text-decoration: none; }
  a:before {
    text-decoration: none; }

/*--------MIXIN FLEX----------*/
/*--------Keyframes--------*/
@keyframes animacionRedes {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes animacionHeader {
  0% {
    background-position: 50% 100%;
    border-bottom-left-radius: 10%; }
  50% {
    background-position: 100% 0%;
    border-bottom-left-radius: 10%; }
  100% {
    background-position: 50% 100%;
    border-bottom-left-radius: 10%; } }

@keyframes wsp {
  0% {
    transform: translate(0, 5px); }
  50% {
    transform: translate(0, 0); }
  100% {
    transform: translate(0, 5px); } }

@keyframes animacionFooter {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 50% 100%; }
  100% {
    background-position: 190% 0%; } }

/*--------MIXIN FLEX----------*/
/*--------Keyframes--------*/
@keyframes animacionRedes {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes animacionHeader {
  0% {
    background-position: 50% 100%;
    border-bottom-left-radius: 10%; }
  50% {
    background-position: 100% 0%;
    border-bottom-left-radius: 10%; }
  100% {
    background-position: 50% 100%;
    border-bottom-left-radius: 10%; } }

@keyframes wsp {
  0% {
    transform: translate(0, 5px); }
  50% {
    transform: translate(0, 0); }
  100% {
    transform: translate(0, 5px); } }

@keyframes animacionFooter {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 50% 100%; }
  100% {
    background-position: 190% 0%; } }

/*-------------- VISTA MOBILE 1 ------------*/
@media screen and (max-width: 768px) {
  body {
    position: relative;
    height: 180%;
    width: 100vw;
    display: grid;
    grid-template-areas: "cabecera" "navBar" "main" "footer"; }
    body .whatsap {
      height: 3rem;
      width: 3rem;
      display: flex;
      border: 2px solid white;
      border-radius: 50%;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background-color: #01a101;
      position: fixed;
      bottom: 15px;
      right: 20px;
      box-shadow: 0 0 10px black;
      animation: wsp 2s infinite; }
      body .whatsap .wsp {
        color: white;
        font-size: 150%; }
    body .cabecera {
      height: 100%;
      width: 100%;
      grid-area: cabecera;
      border-bottom: 6px solid #131313;
      border-bottom-left-radius: 11%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      body .cabecera .info-contacto {
        background: linear-gradient(to right, black, #515151, black);
        width: 100%;
        height: 3em;
        animation: animacionRedes 5s infinite;
        background-size: 200%; }
        body .cabecera .info-contacto .direccion {
          display: none; }
        body .cabecera .info-contacto .iconos-redes {
          height: 100%; }
          body .cabecera .info-contacto .iconos-redes ul {
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center; }
      body .cabecera .nombreLogo {
        width: 100%;
        height: 100%;
        background-size: 300%;
        animation: animacionHeader 5s infinite;
        background-image: linear-gradient(40deg, #040303, #461111, #A13333, #B3541E);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 10px; }
        body .cabecera .nombreLogo img {
          height: 8rem;
          background-color: #9b9992;
          border-radius: 50%;
          box-shadow: 1px 2px 20px black; }
        body .cabecera .nombreLogo h1 {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start; }
          body .cabecera .nombreLogo h1 span {
            color: #f9f9e7;
            font-family: "Black Ops One", cursive; }
    body .navBar {
      position: sticky;
      top: 0;
      grid-area: navBar;
      height: 4rem;
      background: linear-gradient(to right, black, #5d5d5d, black);
      background-size: 200%;
      animation: animacionRedes 5s infinite; }
      body .navBar .lista {
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center; }
        body .navBar .lista li {
          font-family: "Alumni Sans Inline One";
          font-size: x-small;
          font-size: 20px;
          letter-spacing: 1px;
          border-bottom: 2px solid white; }
          body .navBar .lista li a {
            color: #e5cc09; }
    body .main {
      grid-area: main;
      height: 180vh; }
      body .main .principal {
        height: 35%;
        /*!!!!!!!!!!*/
        background-image: url(../images/seccionInicio.jpg);
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center; }
        body .main .principal .inicio {
          height: 100%;
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 25px;
          background-color: rgba(65, 65, 65, 0.702); }
          body .main .principal .inicio p {
            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
            font-size: 25px;
            color: white;
            text-align: center;
            width: 80%;
            padding: 10px;
            border-radius: 20px; }
          body .main .principal .inicio a {
            border: 2px solid black;
            border-bottom-right-radius: 15px;
            border-top-right-radius: 15px;
            font-size: 18px;
            background-color: #3d3d3d;
            color: yellow;
            padding: 10px;
            width: 6rem;
            text-align: center;
            box-shadow: 2px 5px 20px black; }
      body .main .nosotros {
        height: 65%;
        /*!!!*/
        width: 100vw;
        background: linear-gradient(to top, #838383, #acacac, #646464); }
        body .main .nosotros .informacion {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: center;
          height: 100%;
          width: 100%;
          border: 1px solid black;
          /*------CAJAS CONTENEDORAS DE ICONO Y TEXTO---------*/ }
          body .main .nosotros .informacion .box-info1, body .main .nosotros .informacion .box-info2, body .main .nosotros .informacion .box-info3 {
            width: 80%;
            border: 7px dotted black;
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center; }
            body .main .nosotros .informacion .box-info1 img, body .main .nosotros .informacion .box-info2 img, body .main .nosotros .informacion .box-info3 img {
              border: 5px solid black;
              background-color: white;
              border-radius: 80px;
              box-shadow: 0 0 10px black;
              height: 5em; }
            body .main .nosotros .informacion .box-info1 h3, body .main .nosotros .informacion .box-info2 h3, body .main .nosotros .informacion .box-info3 h3 {
              text-align: center;
              font-family: "Koulen", cursive;
              font-size: 20px; }
            body .main .nosotros .informacion .box-info1 p, body .main .nosotros .informacion .box-info2 p, body .main .nosotros .informacion .box-info3 p {
              text-align: center;
              font-size: 20px;
              font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; }
    body .footer {
      grid-area: footer;
      width: 100%;
      height: 120%;
      animation: animacionFooter 5s infinite;
      background-size: 200%;
      justify-self: flex-end;
      align-self: flex-end;
      background-image: linear-gradient(to right, #090909, #3e3e3e, #0b0b0b);
      color: aliceblue;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 5px; }
    body .box-foter1 {
      height: 5rem;
      width: 15rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px; }
      body .box-foter1 p {
        font-family: "Koulen", cursive; }
      body .box-foter1 ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px; }
    body .box-foter2 h3 {
      font-size: 15px;
      font-family: "Courier New", Courier, monospace;
      text-align: center; } }
