@import "variables";

/*------- VISTA MOBILE ------------*/
@media screen and(max-width:821px) {
  .bodyCatalogo {
    .whatsap {
      height: 3rem;
      width: 3rem;
      display: flex;
      border: 2px solid white;
      border-radius: 50%;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background-color: rgb(1, 161, 1);
      position: fixed;
      bottom: 15px;
      right: 20px;
      box-shadow: 0 0 10px black;
      animation: wsp 2s infinite;
      .wsp {
        color: white;
        font-size: 150%;
      }
    }
    height: 180%;
    width: 100vw;
    display: grid;
    grid-template-areas:
      "cabeceraCatalogo"
      "navBarCatalogo"
      "mainCatalogo"
      "footerCatalogo";

    .cabeceraCatalogo {
      height: 100%;
      width: 100%;
      grid-area: cabeceraCatalogo;
      border-bottom: 6px solid rgb(19, 19, 19);

      @include flexbox(flex, column, center, center);
      .info-contacto {
        background: linear-gradient(
          to right,
          rgb(0, 0, 0),
          rgb(57, 57, 57),
          rgb(0, 0, 0)
        );
        width: 100%;
        height: 3em;
        animation: animacionRedes 5s infinite;
        background-size: 200%;

        .direccion {
          display: none;
        }
        .iconos-redes {
          height: 100%;
          ul {
            height: 100%;
            @include flexbox(flex, row, space-evenly, center);
          }
        }
      }
      .nombreLogo {
        width: 100%;
        height: 100%;
        background-size: 300%;
        animation: animacionHeader 5s infinite;
        background-image: $fondoHeader;
        @include flexbox(flex, row, center, center);
        gap: 10px;
        padding: 10px;
        img {
          height: 8rem;
          background-color: rgb(244, 242, 232);
          border-radius: 50%;
          box-shadow: 1px 2px 20px black;
        }
        h1 {
          @include flexbox(flex, column, center, flex-start);
          span {
            color: rgb(249, 249, 231);
            font-family: $fuenteH1;
          }
        }
      }
    }
    .navBarCatalogo {
      z-index: 1;
      position: sticky;
      top: 0;
      grid-area: navBarCatalogo;
      box-shadow: 0 1px 10px black;
      height: 4rem;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      background: linear-gradient(
        to right,
        rgb(0, 0, 0),
        rgb(57, 57, 57),
        rgb(0, 0, 0)
      );
      background-size: 200%;
      animation: animacionRedes 5s infinite;
      .lista {
        
        height: 100%;
        @include flexbox(flex, row, space-evenly, center);
        li {
          font-family: $fuenteNavBar;
          font-size: x-small;
          font-size: 20px;
          letter-spacing: 1px;
          border-bottom: 2px dotted white;
          a {
            color: rgb(229, 204, 9);
          }
        }
      }
    }
    .mainCatalogo {
      .seccionCatalogo {
        background-image: $gradienteSeccionNosotros;
        padding: 20px;
        @include flexbox(flex, column, center, center);
        gap: 20px;
        h2 {
          font-size: 35px;
          font-family: "Franklin Gothic Medium", "Arial Narrow", Arial,
            sans-serif;
          color: rgb(12, 121, 17);
        }
        .catalogo {
          width: 100%;
          display: grid;
          grid-template-areas:
            "box-categoria"
            "box-categoria1"
            "box-categoria2"
            "box-categoria3"
            "box-categoria4";
          justify-items: center;
          justify-content: space-evenly;
          gap: 20px;

          .box-categoria {
            width: 85vw; //cambio importante
            border: 5px solid black;
            border-radius: 20px;
            padding: 10px;
            box-shadow: 0 0px 10px black;
            background-image: linear-gradient(
              45deg,
              #0a0a0ab9,
              #525252be,
              #1a1a1abb
            );
            @include flexbox(flex, column, center, center);
            gap: 20px;
            img {
              width: 75%;
              height: 13.5rem;
              border: 2px solid black;
              border-radius: 10px;
            }
            a {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: center;
              gap: 5px;
              padding: 10px;
              border: 2px solid black;
              border-radius: 20px;
              width: 70%;
              color: black;
              background-image: linear-gradient(
                to right,
                rgb(207, 141, 0),
                rgb(240, 165, 4),
                rgb(240, 165, 4),
                rgb(207, 141, 0)
              );
              animation: iluminati 2s infinite;
              h3 {
                font-family: Cambria, Cochin, Georgia, Times, "Times New Roman",
                  serif;
              }
            }
          }
          .box-categoria1 {
            @extend .box-categoria;
          }
          .box-categoria2 {
            @extend .box-categoria;
          }
          .box-categoria3 {
            @extend .box-categoria;
          }
          .box-categoria4 {
            @extend .box-categoria;
          }
        }
      }
    }
    .footerCatalogo {
      grid-area: footerCatalogo;
      width: 100%;
      height: 100%;
      animation: animacionFooter 5s infinite;
      background-size: 200%;
      justify-self: flex-end;
      align-self: flex-end;
      background-image: linear-gradient(
        to right,
        rgb(9, 9, 9),
        rgb(62, 62, 62),
        rgb(11, 11, 11)
      );
      color: aliceblue;
      @include flexbox(flex, column, center, center);
      gap: 5px;

      .box-foter1 {
        // border: 1px solid white;
        height: 5rem;
        width: 15rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        p {
          font-family: $fuenteTexto;
        }
        ul {
          @include flexbox(flex, row, center, center);
          gap: 20px;
        }
      }
      .box-foter2 {
        h3 {
          font-size: 15px;
          font-family: "Courier New", Courier, monospace;
          text-align: center;
        }
      }
    }
  }
}

/*-------- VISTA DESKTOP ---------*/
@media screen and(min-width:821px) {
  .bodyCatalogo {
    .whatsap {
      height: 3rem;
      width: 3rem;
      display: flex;
      border: 2px solid white;
      border-radius: 50%;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background-color: rgb(1, 161, 1);
      position: fixed;
      bottom: 15px;
      right: 20px;
      box-shadow: 0 0 10px black;
      animation: wsp 2s infinite;
      .wsp {
        color: white;
        font-size: 150%;
      }
    }
    height: 180%;
    width: 100vw;
    display: grid;
    grid-template-areas:
      "cabeceraCatalogo cabeceraCatalogo"
      "navBarCatalogo navBarCatalogo"
      "mainCatalogo mainCatalogo"
      "footerCatalogo footerCatalogo";

      .cabeceraCatalogo {
        grid-area: cabeceraCatalogo;
        display: flex;
        flex-direction: column;
        .info-contacto {
          height: 3rem;
          @include flexbox(flex, row, center, center);
          background-image: linear-gradient(
            to right,
            rgb(0, 0, 0),
            rgb(57, 57, 57),
            rgb(0, 0, 0)
          );
          animation: animacionRedes 5s infinite;
          background-size: 200%;
          .direccion {
            @include flexbox(flex, row, space-evenly, center);
            width: 50%;
            color: white;
          }
          .iconos-redes {
            width: 50%;
            ul {
              @include flexbox(flex, row, space-evenly, center);
            }
          }
        }
        .nombreLogo {
          @include flexbox(flex, row, center, center);
          gap: 20px;
          background-size: 300%;
          animation: animacionHeader 5s infinite;
          background-image: $fondoHeader;
          padding: 30px;
          img {
            height: 12rem;
            background-color: rgb(244, 242, 232);
            border-radius: 50%;
            box-shadow: 1px 2px 20px black;
            transition: 2s;
            &:hover {
              transform: scale(1.2);
              transition: 5s;
            }
          }
          h1 {
            @include flexbox(flex, column, center, flex-start);
            font-size: 45px;
            &:hover {
              transform: translate(30px, 0);
              transition: 5s;
            }
            span {
              color: rgb(249, 249, 231);
              font-family: $fuenteH1;
            }
          }
        }
      }
    .navBarCatalogo {
      z-index: 1;
      grid-area: navBarCatalogo;
      position: sticky;
      top: 0;
      height: 4rem;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      box-shadow: 0 1px 5px black;
      background: linear-gradient(
        to right,
        rgb(0, 0, 0),
        rgb(57, 57, 57),
        rgb(0, 0, 0)
      );
      background-size: 200%;
      animation: animacionRedes 5s infinite;
      .lista {
        height: 100%;
        @include flexbox(flex, row, space-evenly, center);
        li {
          cursor: pointer;
          // font-family: $fuenteNavBar;
          font-family: "Franklin Gothic Medium", "Arial Narrow", Arial,
            sans-serif;
          font-size: x-small;
          font-size: 20px;
          border: 1px solid white;
          padding: 8px;
          width: 125px;
          border-radius: 20px;
          text-align: center;
          &:hover {
            opacity: 80%;
          }
          a {
            color: rgb(241, 241, 237);
            &:hover {
              color: rgb(251, 251, 13);
            }
          }
        }
      }
    }
    .mainCatalogo {
      grid-area: mainCatalogo;
      .seccionCatalogo {
        width: 100%;
        background-image: $gradienteSeccionNosotros;
        padding: 50px;
        @include flexbox(flex, column, center, center);
        gap: 20px;
        h2 {
          font-size: 40px;
          font-family: "Franklin Gothic Medium", "Arial Narrow", Arial,
            sans-serif;
          color: rgb(12, 121, 17);
        }
        .catalogo {
          width: 100%;
          display: grid;
          grid-template-areas:
            "box-categoria box-categoria1"
            "box-categoria2 box-categoria3"
            "box-categoria4 box-categoria4";
          // justify-items: center;
          justify-content: center;
          gap: 100px;

          .box-categoria {
            width: 25vw; //cambio importante
            border: 5px solid black;
            border-radius: 20px;
            padding: 10px;
            box-shadow: 0 0px 10px black;
            background-image: linear-gradient(
              45deg,
              #0a0a0ab9,
              #525252be,
              #1a1a1abb
            );
            @include flexbox(flex, column, center, center);
            gap: 20px;
            img {
              width: 75%;
              height: 13.5rem;
              border: 2px solid black;
              border-radius: 10px;
            }
            a {
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              align-items: center;
              justify-content: center;
              gap: 5px;
              padding: 10px;
              border: 2px solid black;
              border-radius: 20px;
              width: 13rem;
              color: black;
              background-image: linear-gradient(
                to right,
                rgb(207, 141, 0),
                rgb(240, 165, 4),
                rgb(240, 165, 4),
                rgb(207, 141, 0)
              );
              animation: iluminati 2s infinite;
              h3 {
                font-family: Cambria, Cochin, Georgia, Times, "Times New Roman",
                  serif;
                  font-size:17px;
              }
            }
          }
          // .box-categoria1 {
          //   @extend .box-categoria;
          // }
          // .box-categoria2 {
          //   @extend .box-categoria;
          // }
          // .box-categoria3 {
          //   @extend .box-categoria;
          // }
          // .box-categoria4 {
          //   justify-items: center;
          // }
        }
      }
    }
    .footerCatalogo {
      grid-area: footerCatalogo;
      width: 100%;
      height: 130%;
      animation: animacionFooter 5s infinite;
      background-size: 200%;
      justify-self: flex-end;
      align-self: flex-end;
      background-image: linear-gradient(
        to right,
        rgb(9, 9, 9),
        rgb(62, 62, 62),
        rgb(11, 11, 11)
      );
      color: aliceblue;
      @include flexbox(flex, column, center, center);
      gap: 5px;

      .box-foter1 {
        // border: 1px solid white;
        height: 5rem;
        width: 15rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        p {
          font-family: $fuenteTexto;
        }
        ul {
          @include flexbox(flex, row, center, center);
          gap: 20px;
        }
      }
      .box-foter2 {
        h3 {
          font-size: 15px;
          font-family: "Courier New", Courier, monospace;
          text-align: center;
        }
      }
    }
  }
}



