@import "variables";

/*--------------VISTA MOBILE------------*/

@media screen and(max-width:768px) {
  body {
    height: 150%;
    width: 100vw;
    display: grid;
    grid-template-areas:
      "cabecera"
      "navBar"
      "main"
      "footer";

    .cabecera {
      height: 100%;
      width: 100%;
      grid-area: cabecera;
      border-bottom: 6px solid rgb(19, 19, 19);
      border-bottom-left-radius: 11%;
      @include flexbox(flex, column, center, center);
      .info-contacto {
        background: linear-gradient(
          to right,
          rgb(0, 0, 0),
          rgb(81, 81, 81),
          rgb(0, 0, 0)
        );
        width: 100%;
        height: 3em;
        animation: animacionRedes 5s infinite;
        background-size: 200%;

        .direccion {
          display: none;
        }
        .iconos-redes {
          height: 100%;
          ul {
            height: 100%;
            @include flexbox(flex, row, space-evenly, center);
          }
        }
      }
      .nombreLogo {
        width: 100%;
        height: 100%;
        background-size: 300%;
        animation: animacionHeader 5s infinite;
        background-image: $fondoHeader;
        @include flexbox(flex, row, center, center);
        gap: 10px;
        padding: 10px;
        img {
          height: 8rem;
          background-color: rgb(155, 153, 146);
          border-radius: 50%;
          box-shadow: 1px 2px 20px black;
        }
        h1 {
          @include flexbox(flex, column, center, flex-start);
          span {
            color: rgb(249, 249, 231);
            font-family: $fuenteH1;
          }
        }
      }
    }
    .navBar {
      grid-area: navBar;
      height: 4rem;
      background: linear-gradient(
        to right,
        rgb(0, 0, 0),
        rgb(93, 93, 93),
        rgb(0, 0, 0)
      );
      background-size: 200%;
      animation: animacionRedes 5s infinite;
      .lista {
        height: 100%;
        @include flexbox(flex, row, space-evenly, center);
        li {
          font-family: $fuenteNavBar;
          font-size: x-small;
          font-size: 20px;
          letter-spacing: 1px;
          border-bottom: 2px solid white;
          a {
            color: rgb(229, 204, 9);
          }
        }
      }
    }
    .main {
      grid-area: main;
      height: 160vh; /*!!!!!!!!!!*/
      .principal {
        height: 40%;
        background-image: url(../images/seccionInicio.jpg);
        background-size: cover;
        background-position: center;
        @include flexbox(flex, row, center, center);

        .inicio {
          height: 100%;
          width: 100%;
          // border-radius: 15%;
          @include flexbox(flex, column, center, center);
          gap: 25px;
          background-color: rgba(65, 65, 65, 0.702);

          p {
            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial,
              sans-serif;
            font-size: 25px;
            color: rgb(255, 255, 255);
            text-align: center;
            width: 80%;
            // border: 5px dotted rgb(15, 172, 39);

            z-index: 1;
            padding: 10px;
            border-radius: 20px;
          }
          a {
            border: 2px solid black;
            border-bottom-right-radius: 15px;
            border-top-right-radius: 15px;
            font-size: 18px;
            background-color: rgb(61, 61, 61);
            color: yellow;
            padding: 10px;
            width: 6rem;
            text-align: center;
            box-shadow: 2px 5px 20px rgb(0, 0, 0);
          }
        }
      }

      .nosotros {
        height: 56%;
        width: 100vw;
        background: linear-gradient(
          to top,
          rgb(131, 131, 131),
          rgb(172, 172, 172),
          rgb(100, 100, 100)
        );

        .informacion {
          @include flexbox(flex, column, center, center);
          height: 100%;
          width: 100%;
          gap: 25px;
          // padding: 10px;
          border: 1px solid black;
          /*------CAJAS CONTENEDORAS DE ICONO Y TEXTO---------*/
          .box-info1 {
            width: 80%;
            border: 7px dotted black;
            padding: 10px;
            @include flexbox(flex, column, center, center);
            img {
              border: 5px solid black;
              background-color: rgb(255, 255, 255);
              border-radius: 80px;
              box-shadow: 0 0 10px black;
              height: 5em;
            }
            h3 {
              text-align: center;
              font-family: $fuenteH2;
              font-size: 20px;
            }
            p {
              text-align: center;
              font-size: 20px;
              font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
                sans-serif;
            }
          }
          .box-info2{
            @extend .box-info1;
          }
          .box-info3{
            @extend .box-info1;
          }
        }
      }
    }
    .footer {
      grid-area: footer;
      width: 100%;
      height: 151%;
      justify-self: flex-end;
      align-self: flex-end;
      background-color: rgb(0, 0, 0);
      color: aliceblue;
      @include flexbox(flex,column, center, center);
      gap: 10px;
    }
    .box-foter1{
    //  border: 1px solid white;
      height: 5rem;
      width: 15rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
      p{
        font-family: $fuenteTexto;
      }
      ul{
        @include flexbox(flex,row,center,center);
        gap: 20px;
      }

    }
    .box-foter2{
      h3{
        font-size: 15px;
        font-family: 'Courier New', Courier, monospace;
      }
    }
  }
}

/*------------------- VISTA DESKTOP ---------------------*/
@media screen and(min-width:768px) {
  body {
    display: grid;
    grid-template-areas:
      "cabecera cabecera cabecera "
      "navBar navBar navBar "
      "main main main"
      "footer footer footer";

    .main {
      grid-area: main;
    }
    .navBar {
      grid-area: navBar;
    }
    .main {
      grid-area: main;
    }
    .footer {
      grid-area: footer;
    }
  }
}
