* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
li{
  text-decoration: none;
  list-style-type: none;
}
a {
  text-decoration: none;
  color: white;
  &:after {
    text-decoration: none;
  }
  &:before {
    text-decoration: none;
  }
}

@import "variables";
@import "Index";
@import "Catalogo";
@import "Contacto";



